/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #8d8b8b;
    color: #333;
  }
  
  /* Header */
  header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Left Header Section */
  
  .header-left {
    display: flex;
    align-items: center; /* Center vertically within the header */
  }
  
  .header-left img {
    padding-left: 10px;
    width: 70px;
    height: 80px;
  }
  
  .header-left h1{
    font-family: Segoe UI;
    font-weight: normal;
    font-size: 32px;
    color: #333;
    text-transform: uppercase;
    margin: 0;
    margin-left: 20px; /* Add margin to separate the image and text */
  }
  
  /* Right Header Section */
  nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  /* Dropdown Styles */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: #f9f9f9;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #8d8b8b;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
    padding: 5px 10px; /* Add padding for button-like appearance */
  }
  
  /* Hover effect for header buttons */
  nav ul li a:hover {
    background-color: #8d8b8b; /* Change background color to black on hover */
    color: #fff; /* Change text color to white on hover */
    border-radius: 5px; /* Add a slight border-radius for a button-like appearance */
  }

  /* Sections */
.section-title {
    text-decoration: underline;
    font-size: 36px;
    text-transform: uppercase;
    color: #333;
    margin-top: 70px;
    opacity: 0; /* Initially hide the section title */
    animation: fadeInUp 1s ease forwards;
  }
  
  .section-description {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
    padding: 30px;
    opacity: 0; /* Initially hide the section description */
    animation: fadeInUp 1s ease forwards 0.5s; /* Delay the animation for half a second */
  }

  /* Section 1 */
  .owner1 {
    background-color: #d5cfcf;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0; /* Ensure owner1 is above the pseudo-element */
  }
  
  .owner1:hover {
    transform: scale(1.05);
  }
  
  .owner1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Inherit background from container */
    z-index: -1; /* Place it below owner1 */
    transition: filter 0.3s ease;
  }

  .owner1 img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }

  .owner-info {
    display: flex;
    flex-direction: column;
}

  .owner1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    animation: fadeInUp 1s ease forwards;
  }

  .owner1 h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 5px;
    animation: fadeInUp 2s ease forwards;
  }

  .owner1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    animation: fadeInUp 3s ease forwards;
  }

  /* Section 2 Owner 2 Info */

  /* Owner 2 */
  .owner2 {
    background-color: #d5cfcf;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transform-origin: bottom center;
    flex-direction: row-reverse; /* Reverse the direction of flex items */
  }

  .owner2:hover {
    transform: scale(1.05);
  }

  /* Adjust the image size and margin */
  .owner2 img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* Add margin to separate the image from text */
  }

  /* Text content alignment to the left */
  .owner-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
  }

  /* Reset margin for h1 and h3 */
  .owner2 h1, .owner2 h3 {
    text-decoration: none;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }

  /* Add margin to p for spacing */
  .owner2 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: fadeInUp 3s ease forwards;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    display: flex;
    flex-direction: space-around;
    align-items: center; /* Center vertically */
  }
  
  .newsletter {
    flex: 1;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }
  
  .newsletter h2 {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #d5cfcf;
    padding-right: 40%;
  }
  
  .newsletter form {
    padding-right: 40%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
  }
  
  .newsletter input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
  }
  
  .newsletter button {
    width: 100%;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .newsletter button:hover {
    background-color: #ff6600;
  }
  
  .about-details {
    flex: 1;
    padding: 20px;
    text-align: center; /* Center text */
  }
  
  .about-details h2 {
    color: #d5cfcf;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .about-details p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .about-details .contact-info {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
  }
  
  .about-details .contact-info a {
    text-decoration: none;
    color: #777;
    margin-right: 10px;
  }
  
  .about-details .contact-info a:hover {
    color: #ff9900;
  }
  
  .about-details .contact-info img {
    width: 40px; /* Adjust the size of the icons as needed */
    height: 40px;
    margin-right: 5px;
  }
  
  .google-map {
    flex: 1;
    width: 400px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    margin: 10px; /* Add some margin to separate it from other elements */
  }
  
  /* Animations */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    /* Adjust styles for mobile devices here */
    .header-left h1 {
      display: none;
    }
    nav ul li {
      display: inline-block;
      margin-right: 0.1px;
      margin-left: 0px;
      font-size: 13px;
    }
    .header-left img {
      padding-left: 10px;
      width: 50px;
      height: 50px;
    }
    .dropdown-content {
      min-width: 120px;
    }
    .section-title {
      font-size: 24px;
      margin-top: 40px;
    }
    .section-title {
      font-size: 24px;
      margin-top: 40px;
    }
    /* about-1 */
    .owner1 {
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center elements horizontally */
      text-align: center; /* Center text within the container */
    }
    .owner1:hover{
      transform: scale(1.02);
    }
    .owner1 img {
      width: 90%;
      height: 90%;
      align-items: center; /* This line doesn't seem necessary, you can remove it */
    }
    .owner1 h1 {
      align-items: center;
      font-size: 24px; /* Reduce font size for h1 */
    }
    .owner1 h3{
      padding-left: 20px;
    }

    /* about-2 */
    .owner2{
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center elements horizontally */
      text-align: center; /* Center text within the container */
    }
    .owner2:hover{
      transform: scale(1.02);
    }
    .owner2 img{
      width: 90%;
      height: 90%;
      align-items: center;
    }
    .owner2 h1{
      text-align: center;
      align-items: center;
      font-size: 22px; /* Reduce font size for h1 */
      padding-left: 20px;
    }
    .owner2 h3{
      text-align: center;
      padding-left: 20px;
    }

    /* Footer */
    .footer {
      flex-direction: column; /* Stack elements vertically */
      padding: 20px 0; /* Reduce padding for mobile */
    }
  
    .newsletter h2 {
      padding-right: 0; /* Remove padding for mobile */
    }
  
    .newsletter form {
      padding-right: 0; /* Remove padding for mobile */
    }
  
    .about-details h2 {
      font-size: 20px; /* Reduce font size for mobile */
      margin-bottom: 5px; /* Adjust margin for mobile */
    }
  
    .about-details p {
      font-size: 14px; /* Reduce font size for mobile */
      margin-top: 5px; /* Adjust margin for mobile */
      margin-bottom: 5px; /* Adjust margin for mobile */
    }
  
    .about-details .contact-info {
      font-size: 14px; /* Reduce font size for mobile */
      margin-top: 10px; /* Adjust margin for mobile */
    }
  
    .about-details .contact-info img {
      width: 30px; /* Reduce image size for mobile */
      height: 30px; /* Reduce image size for mobile */
      margin-right: 5px; /* Adjust margin for mobile */
    }
  
    .google-map {
      max-width: 100%; /* Full width for mobile */
      margin: 0 auto; /* Center map horizontally for mobile */
      padding-left: 15%; /* Remove padding for mobile */
    }
  }
