/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #8d8b8b;
  color: #333;
}

#loader{
  background: #d5cfcf url(Home/loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* Header */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Left Header Section */

.header-left {
  display: flex;
  align-items: center; /* Center vertically within the header */
}

.header-left img {
  padding-left: 10px;
  width: 70px;
  height: 80px;
}

.header-left h1{
  font-family: Segoe UI;
  font-weight: normal;
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px; /* Add margin to separate the image and text */
}

/* Right Header Section */
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #8d8b8b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
  padding: 5px 10px; /* Add padding for button-like appearance */
}

/* Hover effect for header buttons */
nav ul li a:hover {
  background-color: #8d8b8b; /* Change background color to black on hover */
  color: #fff; /* Change text color to white on hover */
  border-radius: 5px; /* Add a slight border-radius for a button-like appearance */
}

/* Sections */
.section-title {
  text-decoration: underline;
  font-size: 36px;
  text-transform: uppercase;
  color: #333;
  margin-top: 70px;
  opacity: 0; /* Initially hide the section title */
  animation: fadeInUp 1s ease forwards;
}

.section-description {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
  padding: 30px;
  opacity: 0; /* Initially hide the section description */
  animation: fadeInUp 1s ease forwards 0.5s; /* Delay the animation for half a second */
}

/* Home Section */
#home {
  text-align: center;
  padding: 80px 0;
  background-color: #d5cfcf;
  display: flex;
  flex-direction: row-reverse; /* Reverse the direction of flex items */
  justify-content: space-between; /* Separate text and image */
}

.text-section {
  flex: 1;
  text-align: left;
}

.text-section .section-title {
  text-transform: uppercase;
  color: #333;
  margin-top: 0;
}

.text-section .section-description p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px; /* Add margin-bottom to create gaps between paragraphs */
  font-weight: bold;
}

.image-section {
  flex: 1;
  text-align: right;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border: 5px solid #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Horizontal Line */

hr{
  border: none;
  border-top: 4px solid #000000; /* Add a custom border on top */
  margin: 5px;
}

/* Shop Section */
#shop {
  text-align: center;
  padding: 10px 0;
  background-color: #d5cfcf;
}
.section-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: normal;
}

.saree-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the right */
  transition: transform 0.2s ease, filter 0.2s ease;
}

.saree-item:hover {
  transform: scale(1.03);
}

/* Apply blur to non-hovered sections */
.saree-container:not(:hover) .saree-item {
  filter: blur(5px);
}

.saree-item img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  border: 5px solid #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.saree-item h3 {
  font-size: 20px;
  margin: 10px 0;
}

.saree-description {
  font-size: 16px;
  color: #777;
  flex: 1; /* Allow the description to take remaining space */
}

.saree-price {
  font-size: 18px;
  color: #ff9900;
  margin: 10px 0;
}

.buy-button {
  background-color: #ca4a61;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 50px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #3f6dcf;
}

/* About Section */
/* Center-align text and description in the about section */
#about {
  text-align: center;
  padding: 80px 0;
  background-color: #f8f8f8;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #333;
  margin-top: 20px;
}

p{
  font-size: 18px;
  font-family: Segoe UI;
}

.section-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Style the video container */
.videos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.video {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

video:last-child {
  margin-right: 0; /* Remove margin from the last video to prevent extra space */
}

.video iframe {
  width: 100%;
  height: 290px;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  display: flex;
  flex-direction: space-around;
  align-items: center; /* Center vertically */
}

.newsletter {
  flex: 1;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.newsletter h2 {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #d5cfcf;
  padding-right: 40%;
}

.newsletter form {
  padding-right: 40%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.newsletter input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

.newsletter button {
  width: 100%;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter button:hover {
  background-color: #ff6600;
}

.about-details {
  flex: 1;
  padding: 20px;
  text-align: center; /* Center text */
}

.about-details h2 {
  color: #d5cfcf;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.about-details p {
  font-size: 16px;
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-details .contact-info {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
}

.about-details .contact-info a {
  text-decoration: none;
  color: #777;
  margin-right: 10px;
}

.about-details .contact-info a:hover {
  color: #ff9900;
}

.about-details .contact-info img {
  width: 40px; /* Adjust the size of the icons as needed */
  height: 40px;
  margin-right: 5px;
}

.google-map {
  flex: 1;
  width: 400px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  margin: 10px; /* Add some margin to separate it from other elements */
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  /* Adjust styles for mobile devices here */
  .header-left h1 {
    display: none;
  }
  .header-left img {
    padding-left: 10px;
    width: 50px;
    height: 50px;
  }
  nav ul{
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    margin-right: 0.1px;
    margin-left: 0px;
    font-size: 13px;
  }
  .dropdown-content {
    min-width: 120px;
  }
  .section-title {
    font-size: 24px;
    margin-top: 40px;
  }
  #home .image-section{
    display: none;
  }
  .section-description {
    font-size: 14px;
    padding: 10px;
    }
  .image-section {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  .saree-item {
    padding: 10px;
  }
  .saree-item img {
    max-width: 50%;
  }
  .saree-item h3 {
    font-size: 14px;
    padding-right: 10px;
  } 
  .saree-description {
    display: none;
  }
  .saree-price {
    font-size: 16px;
  }
  .buy-button {
    padding: 20px 10px;
    font-size: 14px;
  }
  #about {
    padding: 40px 0; /* Increase padding for mobile */
  }

  .section-title {
    font-size: 24px; /* Reduce font size for mobile */
    margin-top: 20px; /* Adjust margin for mobile */
  }

  .section-description {
    font-size: 14px; /* Reduce font size for mobile */
    margin-bottom: 10px; /* Adjust margin for mobile */
    padding: 15px; /* Increase padding for mobile */
  }

  /* Style the video container for mobile */
  .videos {
    flex-direction: column; /* Stack videos vertically */
    margin-top: 20px;
  }

  .video {
    width: 100%; /* Full width for mobile */
    height: auto; /* Auto height for mobile */
    margin-right: 0; /* Remove margin for mobile */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }

  /* Footer */
  .footer {
    flex-direction: column; /* Stack elements vertically */
    padding: 20px 0; /* Reduce padding for mobile */
  }

  .newsletter h2 {
    padding-right: 0; /* Remove padding for mobile */
  }

  .newsletter form {
    padding-right: 0; /* Remove padding for mobile */
  }

  .about-details h2 {
    font-size: 20px; /* Reduce font size for mobile */
    margin-bottom: 5px; /* Adjust margin for mobile */
  }

  .about-details p {
    font-size: 14px; /* Reduce font size for mobile */
    margin-top: 5px; /* Adjust margin for mobile */
    margin-bottom: 5px; /* Adjust margin for mobile */
  }

  .about-details .contact-info {
    font-size: 14px; /* Reduce font size for mobile */
    margin-top: 10px; /* Adjust margin for mobile */
  }

  .about-details .contact-info img {
    width: 30px; /* Reduce image size for mobile */
    height: 30px; /* Reduce image size for mobile */
    margin-right: 5px; /* Adjust margin for mobile */
  }

  .google-map {
    max-width: 100%; /* Full width for mobile */
    margin: 0 auto; /* Center map horizontally for mobile */
    padding-left: 15%; /* Remove padding for mobile */
  }
}
